<!DOCTYPE html> 
<html> 

<head> 
	<title>C++ IDE</title> 
    <link rel="stylesheet" href="/static/css/styles.css">
</head> 

<body> 
    <ul>
        <a href="{{ url_for('anasayfa') }}"><img src="/static/images/logo.jpg" id="navbarrsm" alt=""></a>
        <li><a href="#news">Belgeler</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Yazılım Dilleri</a>
          <div class="dropdown-content">
            <a href="{{ url_for('python') }}">Python</a>
            <a href="{{ url_for('c') }}">C</a>
            <a href="{{ url_for('c_c') }}">C#</a>
            
          </div>
          
        </li>
        <div id="saat"></div>
      </ul>
      <iframe src="https://www.jdoodle.com/embed/v1/1494f85faee1ff76" width="100%" height="650" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>

        <script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"> </script>
</body> 

</html> 
