<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meyve Kalorileri ve Zararlı/Yararlı Özellikler</title>
    <link rel="stylesheet" href="/static/css/sty.css">
</head>
<body>
    <header>
        <h1>Meyve Kalorileri ve Zararlı/Yararlı Özellikler</h1>
    </header>
    <div class="container" id="fruitsContainer">
        <!-- Meyveler buraya dinamik olarak eklenecek -->
    </div>

    <div class="container">
        {% for adm in gida %}
        <div class="card">
            <div class="card-header">
                ID: {{ adm[0] }}
            </div>
            <div class="card-body">
                <p><strong>Ad:</strong> {{ adm[1] }}</p>
                <p><strong>kalori:</strong> {{ adm[2] }}</p>
                <p><strong >durum:</strong> {{ adm[3] }}</p>
            </div>
            <div class="card-footer">
                <a href="/gida/guncelle/{{ adm[0] }}" class="buton">Güncelle</a>
                <a href="/gida/sil/{{ adm[0] }}" class="buton">Sil</a>
            </div>
        </div>
        <!-- <a href="/admin_panel/kullanici_bilgileri/guncelle/{{ adm[0] }}" class="buton">EKLE</a> -->

        
        {% endfor %}
        
    </div>
   
   
</body>
</html>
