<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULLANICI GÜNCELLE</title>
    <link rel="stylesheet" href="/static/css/gidagn.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                GIDA BİLGİLERİ GÜNCELLE
            </div>
            <div class="card-body">
                <form action="{{ url_for('gida_guncelle') }}" method="post" enctype="multipart/form-data">
                    <label for="id">ID</label>
                    <input type="text" id="id" name="id" value="{{ gida[0] }}" readonly>
                    <label for="ad">Ad</label>
                    <input type="text" id="ad" name="ad" value="{{ gida[1] }}" placeholder="Adını giriniz" required>
                    <label for="kalori">kalori</label>
                    <input type="text" id="kalori" name="kalori" value="{{ gida[2] }}" placeholder="kalori giriniz" required>
                    <label for="durum">durum</label>
                    <select id="durum" name="durum" required value="{{ gida[3] }}">
                        <option value="Yararlı" selected>Yararlı</option>
                        <option value="Zararlı">Zararlı</option>
                    </select>
                    <button type="submit">Güncelle</button>
                    {% if hata %}
                        <p class="error">{{ hata }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
