<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/kayıt.css">
</head>
<body>
    <div class="login-container">
        <form action="#" method="post">
            <div class="input-group">
                <label for="e_posta">E-posta:</label>
                <input type="text" id="e_posta" name="e_posta" required placeholder="E-posta giriniz" >
            </div>
            <div class="input-group">
                <label for="username">Kullanıcı Adı:</label>
                <input type="text" id="username" name="username" required placeholder="Kullanıcı adı giriniz">
            </div>
            <div class="input-group">
                <label for="password">Şifre:</label>
                <input type="password" id="password" name="password" required placeholder="Şifre giriniz">
            </div>
            <button type="submit">Giriş</button>
        </form>
    </div>
</body>
</html>
