<!DOCTYPE html>
<html>
  <title>Yazılım hühendisi</title>
<head>
  <script src="/static/js/script.js"></script>
<link rel="stylesheet" href="/static/css/styles.css">


</head>
<div class="overlay">
  <body id="index_arkaplan" background="/static/images/indir.jpg">
</div>
<ul>
  <a href="{{ url_for('anasayfa') }}"><img src="/static/images/logo.jpg" id="navbarrsm" alt=""></a>
  <li><a href="#news">Belgeler</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Yazılım Dilleri</a>
    <div class="dropdown-content">
      <a href="{{ url_for('python') }}">Python</a>
      <a href="{{ url_for('c_plus') }}">C++</a>
      <a href="{{ url_for('php') }}">PHP</a>


      
    </div>
    
    
  </li>
  <div id="saat"></div>
</ul>



</body>
</html>
